.container {
  text-align: center;
  background-color:black;
  height: 100vh;
  place-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.container h1 {
  color: white;
}

