.container {
  text-align: center;
  background-color: var(--main-bg-color);
  height: 100vh;
  place-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.container h1,
h2,
p {
  color: white;
}

.themeToggle {
  position: absolute;
  top: 32px;
  right: 32px;
}

body[data-theme="light"] {
  --main-bg-color: #f7f7f7;
}

body[data-theme="dark"] {
  --main-bg-color: #121212;
}
