.container {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  padding: 0rem 2rem;
}

h1,
h2,
h3,
h4,
h5,
li p {
  margin: 0;
  color: var(--main-text-color);
}

body[data-theme="light"] {
  --main-bg-color: #f7f7f7;
  --main-text-color: black;
  --secondary-text-color: white;
  --alt-text-color: #505050;
  --main-button-color: #4869b2;
  --main-accent-color: #1d1d1d;
}

body[data-theme="dark"] {
  --main-bg-color: #121212;
  --main-text-color: #ccc;
  --secondary-text-color: black;
  --alt-text-color: #505050;
  --main-button-color: #4869b2;
  --main-accent-color: #f7f7f7;
}
