.history__content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  margin-top: 2rem;
  background-color: white;
  border-radius: 25px;
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
  }
}
