.container {
  box-sizing: border-box;
  background-color: var(--main-accent-color);
  padding: 2rem;
  border-radius: 25px;
  width: 100%;
  max-height: 250px;
  min-height: 250px;
  overflow-y: scroll;
  h2,
  h3,
  li {
    color: var(--secondary-text-color);
  }
}
