.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--secondary-bg-color);
  padding: 1rem 2rem;
  border-radius: 25px;
  width: 100%;
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;

  hr {
    width: 100%;
  }
  h2,
  h3,
  li,
  p {
    color: var(--main-text-color);
  }
  h2 {
    font-size: 2rem;
    line-height: 2;
  }
  h3 {
    font-size: 1.25rem;
  }
  ul {
    line-height: 1.5;
    list-style: none;
    padding: 0;
  }
  li:nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  img {
    max-height: 200px;
  }
  .info {
    border-left: solid 5px var(--main-button-color);
    padding-left: 20px;
  }
}

.container::-webkit-scrollbar {
  width: 20px;
}
.container::-webkit-scrollbar-thumb {
  border-radius: 0px 25px 25px 0px;
  background: var(--main-button-color);
}

.container::-webkit-scrollbar-track {
  border-radius: 0px 25px 25px 0px;
  background: rgba(0, 0, 0, 0.15);
}
