.form {
  position: relative;
  display: flex;
  //flex-direction: row;
  max-width: 760px;
  margin: 0 auto;
  margin-bottom: 2rem;
  button  {
    position: absolute;
    right: 15px;
    background: none;
    border: none;
    top: 25%;
    font-size: 24px;
  }
  input[type="text"] {
    width: 630px;
    padding: 1.25rem 2rem;
    border-radius: 25px;
    //max ch should be 95 and then elipses
  }
}