.form {
  display: block;
  position: relative;
  width: 100%;
  margin: 1rem 0;
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  button {
    position: absolute;
    right: 12px;
    background: none;
    border: none;
    top: 25%;
    font-size: 24px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  button:hover {
    transform: scale(1.15);
  }
  input[type="text"] {
    width: 100%;
    padding: 1.25rem 2rem;
    border-radius: 25px;
    font-size: 1.125rem;
    border: none;
    background-color: var(--secondary-bg-color);
    color: var(--main-text-color);
    transition: all 0.5s ease-in-out;
  }
  ::placeholder {
    color: var(--main-text-color);
  }
}
