.suggestions__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
  button {
    background: var(--secondary-bg-color);
    color: var(--main-text-color);
    padding: 1rem 1.25rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  button:hover {
    background: var(--main-text-color);
    color: var(--secondary-bg-color);
  }
  h2 {
    margin: 0;
  }
}

.suggestions__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  button {
    width: 180px;
    padding: 1.25rem 1.5rem;
    cursor: pointer;
    margin: 0.5rem 0;
    background-color: var(--main-button-color);
    color: white;
    border: none;
    border-radius: 50px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    font-weight: bold;
  }
  button:hover {
    background: var(--secondary-button-color);
  }
}

@media screen and (max-width: 700px) {
  .suggestions__grid {
    button {
      width: 150px;
    }
  }
}

@media screen and (max-width: 600px) {
  .suggestions__grid {
    button {
      width: 130px;
    }
  }
}
