.section__header{
  display: flex;
  justify-content: space-between;
  padding: 0 0rem 0rem 1rem;
  button {
    background: none;
    border: none;
    font-size: 32px;
  }
}

.grid {
  display: grid;
  grid-template: repeat(3, auto) / repeat(4, auto);
  grid-gap: 10px;
  button {
    width: 150px;
    padding: 1.25rem 1.5rem;
    background-color: #4869B2;
    color: white;
    border: none;
    border-radius: 50px;
  }
  button:hover {
    background-color: #8AA6E5;
  }
}