:root {
  --main-bg-color: #f7f7f7;
  --main-text-color: #505050;
  --alt-text-color: #505050;
  --main-button-color: #4869b2;
  --main-accent-color: #121212;
}

@media (prefers-color-sheme: dark) {
  :root {
    --main-bg-color: #121212;
    --main-text-color: #ccc;
    --alt-text-color: #505050;
    --main-button-color: #4869b2;
    --main-accent-color: #f7f7f7;
  }
}
